[Unit]
Description=Apache Spark Master
After=network.target

[Service]
Environment="SPARK_HOME=/opt/spark"
Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
Environment="SPARK_MASTER_HOST=10.51.101.213"
Environment="SPARK_LOCAL_IP=10.51.101.213"
Environment="SPARK_MASTER_WEBUI_HOST=10.51.101.213"
ExecStart=/opt/spark/sbin/start-master.sh
ExecStop=/opt/spark/sbin/stop-master.sh
User=debian
Type=forking

[Install]
WantedBy=multi-user.target
