[Unit]
Description=Apache Spark Worker
After=network.target

[Service]
Environment="SPARK_HOME=/opt/spark"
Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
ExecStart=/opt/spark/sbin/start-slave.sh spark://spark-master:7077
Environment="SPARK_MASTER_HOST=10.51.101.213"
Environment="SPARK_MASTER_WEBUI_HOST=10.51.101.213"
ExecStop=/opt/spark/sbin/stop-slave.sh
User=debian
Type=forking

[Install]
WantedBy=multi-user.target